{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Balanced Portfolio</title>
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Cedarville Cursive' rel='stylesheet'>
  <style>
    .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 75px;
      right: 0;
      background-color: #000000;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 77px;
    }

    .sidebar a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidebar a:hover {
      color: #f1f1f1;
    }

    .sidebar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    .openbtn {
      font-size: 20px;
      cursor: pointer;
      background-color: #111;
      color: white;
      padding: 10px 15px;
      border: none;
    }

    .openbtn:hover {
      background-color: #444;
    }

    #main {
      transition: margin-left .5s;
      padding: 16px;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidebar {padding-top: 15px;}
      .sidebar a {font-size: 18px;}
    }

  </style>
</head>

<body>

<div class="container-scroller">
  <div class="container-fluid page-body-wrapper" style="width:100% !important;">
    <div class="main-panel" style="padding-top:15px !important;">
      <nav class="navbar navbar-expand-lg navbar-dark " style="left:0px !important;padding-top:0px !important;padding-bottom:0px !important;">
        <div class="container-fluid">
          <a href="#" class="navbar-brand"><img src="./static/images/cglogo.png" alt=""></a>
          <a href="portfolio" class="navbar-brand" style="font-family: 'Cedarville Cursive';">Balanced Portfolio</a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a href="portfolio" class="nav-item nav-link active">
              <span class="menu-icon">
                  <i class="mdi mdi-speedometer" style="color: #00d25b;"></i>
              </span>
              <b><span class="menu-title">Portfolio Dashboard</b>
              </a>
              <a href="equity" class="nav-item nav-link">
              <span class="menu-icon">
                  <i class="mdi mdi-ballot" style="color: #0090e7;"></i>
              </span>
              <b><span class="menu-title">Equity Class</b>
              </a>
              <a href="bond" class="nav-item nav-link">
              <span class="menu-icon">
                  <i class="mdi mdi-dip-switch" style="color: #ffab00;"></i>
              </span>
              <b><span class="menu-title">Fixed Income Securities</b>
              </a>
            </div>
          </div>
        </div>
      </nav>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

      <div class="content-wrapper">
        <h4 style="padding-bottom:15px; !important;">
        <span class="menu-icon">
            <i class="mdi mdi-ballot" style="color: #0090e7;"></i>
        </span>
        <b><span class="menu-title">Equity Class</b>
          <button class="openbtn" style="float:right;" onclick="openNav()">☰ Open Summary</button>
        </h4>
        <div class="row">
          <div class="col-md-3" style="width:21%;">
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card" style="height:115vh;">
                  <div class="card-body">
                    <h4 class="card-title text-center">Asset Classes</h4>
                    <table class="table" style="width:100%;border:2px solid #191c24;background-color:#36454F;">
                      <tr>
                        <td style="width:5%;border:2px solid #191c24;color:#FFA500;"></td>
                        <td style="width:40%;border:2px solid #191c24;color:#FFA500;"><b>Asset</b></td>
                        <td style="width:55%;border:2px solid #191c24;color:#FFA500;"><b>Price</b></td>
                      </tr>
                      <tr>
                        <td style="width:10%;border:2px solid #191c24;"><input type="checkbox"/></td>
                        <td style="width:40%;border:2px solid #191c24;color:#EBEBB8;"><b>AAPL</b></td>
                        <td style="width:50%;border:2px solid #191c24;text-align:right;color:#EBEBB8;">
                          <span class="menu-icon">
                              <i class="mdi mdi-arrow-down-bold" style="color: #ff726f;float:left;"></i>
                          </span>
                          <b>USD 4.00</b>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:10%;border:2px solid #191c24;"><input type="checkbox"/></td>
                        <td style="width:40%;border:2px solid #191c24;color:#055C9D;color:#EBEBB8;"><b>CVM</b></td>
                        <td style="width:50%;border:2px solid #191c24;text-align:right;color:#EBEBB8;">
                          <span class="menu-icon">
                              <i class="mdi mdi-arrow-up-bold" style="color: #76B947;float:left;"></i>
                          </span>
                          <b>USD 2.55</b>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:10%;border:2px solid #191c24;"><input type="checkbox"/></td>
                        <td style="width:40%;border:2px solid #191c24;color:#EBEBB8;"><b>F</b></td>
                        <td style="width:50%;border:2px solid #191c24;text-align:right;color:#EBEBB8;">
                          <span class="menu-icon">
                              <i class="mdi mdi-arrow-up-bold" style="color: #76B947;float:left;"></i>
                          </span>
                          <b>USD 2.55</b>
                        </td>
                      </tr>
                      <tr>
                        <td style="width:10%;border:2px solid #191c24;"><input type="checkbox"/></td>
                        <td style="width:40%;border:2px solid #191c24;color:#EBEBB8;"><b>TSLA</b></td>
                        <td style="width:50%;border:2px solid #191c24;text-align:right;color:#EBEBB8;">
                          <span class="menu-icon">
                              <i class="mdi mdi-arrow-right-bold" style="color:#FEDE00;float:left;"></i>
                          </span>
                          <b>USD 7.32</b>
                        </td>
                      </tr>
                    </table>
                    <div class="row" style="margin-bottom:15px;">
                      <div class="template-demo text-center">
                        <button type="button" class="btn btn-inverse-warning btn-fw" style="min-width:70px;">View<span class="caret"></span></button>
                        <button type="button" class="btn btn-inverse-primary btn-fw" style="min-width:70px;">Add to Portfolio<span class="caret"></span></button>
                      </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9" style="width:79%;">
            <div class="row">
              <div class="col-md-12 col-xl-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body" style="height:400px;">
                    <h4 class="card-title text-center">Technical Indicators</h4>
                    <div class="template-demo">
                      <button type="button" class="btn btn-inverse-primary btn-fw" style="min-width:70px;">6 Months</button>
                      <button type="button" class="btn btn-inverse-primary btn-fw" style="min-width:70px;">1 Year</button>
                      <button type="button" class="btn btn-inverse-primary btn-fw" style="min-width:70px;">3 Years</button>
                      <button type="button" class="btn btn-inverse-primary btn-fw" style="min-width:70px;">5 Years</button>
                    </div>
                    <div class="frame-res"><iframe id="pa" src="/../static/files/mom.html" scrolling="no" frameborder="0" width="800" height="315"></iframe>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-xl-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title text-center">Fundamental Indicators</h4>
                    <div class="template-demo">
                      <button type="button" class="btn btn-inverse-primary btn-fw" style="min-width:70px;">6 Months</button>
                      <button type="button" class="btn btn-inverse-primary btn-fw" style="min-width:70px;">1 Year</button>
                      <button type="button" class="btn btn-inverse-primary btn-fw" style="min-width:70px;">3 Years</button>
                      <button type="button" class="btn btn-inverse-primary btn-fw" style="min-width:70px;">5 Years</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-xl-6 grid-margin stretch-card">
                <div class="card" style="height:400px;">
                  <div class="card-body">
                    <h4 class="card-title text-center">Risk Ratios</h4>
                    <iframe src="/../static/files/appl.html" alt="" style="height:300px;width:300px;"></iframe>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-xl-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title text-center">Overall Health</h4>
                      <img src="/../static/files/health.png" alt="" style="height:300px;width:350px;">
                  </div>
                </div>
              </div>
            </div>
          </div>
<!--          <div class="col-md-3 div" style="width:20%;">-->
<!--            <div class="row">-->
<!--              <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>-->
<!--              <div class="col-md-12 grid-margin stretch-card move-card">-->
<!--                <div class="card" style="height:115vh;">-->
<!--                  <div class="card-body" style="padding-left:5px;padding-right:15px;">-->
<!--                    <h4 class="card-title text-center">Summary</h4>-->
<!--                    <h4 class="card-title text-center">Insights</h4>-->
<!--                    <ul>-->
<!--                      <li>Earnings are forecast to grow, but not significantly</li><br>-->
<!--                      <li>Has no debt, therefore it does not need to be covered</li><br>-->
<!--                      <li>Dividend (2.05%) is in the top 25% of dividend payers in EP TE) the market (chosen benchmark)</li><br>-->
<!--                      <li>CEO total compensation (SUSD6.02M) is above average for companies of similar size in the market</li><br>-->
<!--                      <li>Management team is seasoned and experienced</li><br>-->
<!--                      <li>Promoter share holding has declined in 3 months</li><br>-->
<!--                      <li>4 Directors have resigned in the past years</li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <!-- content-wrapper ends -->
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <div class="card" style="height:115vh;">
              <div class="card-body" style="padding-left:5px;padding-right:15px;">
                <h4 class="card-title text-center">Summary</h4>
                <h4 class="card-title text-center">Insights</h4>
                <ul>
                  <li>Earnings are forecast to grow, but not significantly</li><br>
                  <li>Has no debt, therefore it does not need to be covered</li><br>
                  <li>Dividend (2.05%) is in the top 25% of dividend payers in EP TE) the market (chosen benchmark)</li><br>
                  <li>CEO total compensation (SUSD6.02M) is above average for companies of similar size in the market</li><br>
                  <li>Management team is seasoned and experienced</li><br>
                  <li>Promoter share holding has declined in 3 months</li><br>
                  <li>4 Directors have resigned in the past years</li>
                </ul>
              </div>
            </div>
        </div>
      <!-- partial:partials/_footer.html -->
      <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">BALANCED PORTFOLIO</span>
          <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">All rights reserved by Capgemini. Copyright © 2022</span>
        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "600px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
    </body>
</html>
